<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.alcohol.model.dao.AlcoholDao">
<select id="selectAll" resultType="Alcohol">
	SELECT * FROM alcohol
</select>

<select id="search" resultType="Alcohol" parameterType="SearchCondition">
	SELECT * FROM alcohol
	<if test="key != 'none'">
			WHERE ${key} LIKE CONCAT('%', #{word}, '%')
	</if>
</select>

<select id="selectAlcohol" resultType="Alcohol" parameterType="String">
	SELECT * FROM alcohol
	WHERE region = #{region}
</select>

<select id="selectOne" resultType="Alcohol" parameterType="int">
	SELECT * FROM alcohol WHERE id = #{id};
</select>


<insert id="insertAlcohol" parameterType="Alcohol">
    INSERT INTO alcohol (name, detailRegion, kindOf, content, region)
    VALUES (#{name}, #{detailRegion}, #{kindOf}, #{content}, #{region});
</insert>

<delete id="deleteAlcohol" parameterType="int">
	DELETE FROM alcohol
	WHERE id = #{id};
</delete>

<update id="updateAlcohol" parameterType="Alcohol">
	UPDATE alcohol
	SET name = #{name}, detailRegion = #{detailRegion}, kindOf = #{kindOf}, content = #{content},
	region = #{region};
</update>

</mapper>
