<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.alcohol.model.dao.FoodDao">

<select id="search" resultType="Food" parameterType="SearchCondition">
	SELECT * FROM food
	<if test="key != 'none'">
			WHERE ${key} LIKE CONCAT('%', #{word}, '%')
	</if>
</select>

<select id="selectAll" resultType= "Food">
	SELECT * FROM food
</select>

<!-- 지역 / 메뉴 / 어울리는 술 -->

<select id="selectOne" resultType="Food" parameterType="int">
	SELECT * FROM food WHERE id = #{id};
</select>

<insert id="insertFood" parameterType="Food" keyProperty="id" useGeneratedKeys="true">
	INSERT INTO food (userId, menu, content, title, region,kindOf, img, orgImg)
	VALUES (#{userId}, #{menu}, #{content}, #{title}, #{region},#{kindOf}, #{img}, #{orgImg});
</insert>
	

<update id="updateFood" parameterType="Food">
	UPDATE food
	SET userId = #{userId}, menu= #{menu}, content = #{content}, title = #{title}, region = #{region}, img = #{img}, orgImg= #{orgImg}
	region = #{region}
	WHERE id = #{id};
</update>





  <update id="likeUp" parameterType="int">
    UPDATE food
    SET heart = heart + 1
    WHERE id = #{id};
  </update>

  <update id="likeDown" parameterType="int">
    UPDATE food
    SET heart = heart - 1
    WHERE id = #{id};
  </update>

<delete id="deleteFood" parameterType="int">
	DELETE FROM food
	WHERE id = #{id};
</delete>



</mapper>