<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.alcohol.model.dao.FoodDao">


<select id="search" resultType="Food" parameterType="SearchCondition">
	SELECT * FROM food
	WHERE region LIKE CONCAT('%',#{region},'%') 
</select>


<select id="selectOne" resultType="Food" parameterType="int">
	SELECT * FROM food WHERE id = #{id};
</select>


<insert id="insertFood" parameterType="Food">

</insert>

<delete id="deleteFood" parameterType="int">
	DELETE FROM food
	WHERE id = #{id};
</delete>

<update id="updateFood" parameterType="Food">
	UPDATE food
	SET name = #{name}, detailRegion = #{detailRegion}, kindOf = #{kindOf}, content = #{content},
	region = #{region};
</update>



</mapper>